<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Basic | Conditional Ren</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
<div id="app">
    <!-- formate one -->
    <div>
        <!-- <h1 v-if="show == true "> {{ title }} - {{ age }}</h1>
        <h1 v-if="show == false">False</h1> -->
    </div>
   
    <!-- formate two -->
    <div>
        <h1 v-if="show"> {{ title }} - {{ age }}</h1>
        
        <!-- <h1 v-if="!show">False</h1> -->
        <h1 v-else>False</h1>

        <!-- button type -->
        <!-- <button @click = "show = !show">Show</button> -->
        <!-- <button @click = "show = !show">{{show ? 'Show' : 'Hide' }}</button> -->
        <button @click = "toggleShow">{{show ? 'Show' : 'Hide' }}</button>
    </div>
</div>
<script src="app.js"></script>
</body>
